colorama==0.4.6
flatbuffers==25.12.19
numpy==2.4.6
onnxruntime==1.30.0
opencv-python==5.0.0.93
packaging==26.3
pillow==12.3.0
protobuf==7.36.2
pyclipper==1.4.0
pypdf==6.19.0
pypdfium2==5.14.0
PyYAML==6.0.3
rapidocr-onnxruntime==1.4.4
shapely==2.1.2
six==1.17.0
tqdm==4.70.1
